node_modules
.venv
dist
.DS_Store

# Python
__pycache__
.ipynb_checkpoints

src/revisitpy/static

# Ignoring all scripts except for single test_script
scripts/*
!scripts/test_script.py
!scripts/test_script.ipynb
!scripts/
